<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <link rel="stylesheet" type="text/css"  th:href="@{/css/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/boardWrite.css}"/>
</th:block>

<section layout:fragment="body" class="body">
  <form id="frm" method="post" th:action="@{/boards/free/process}">
    <input type="hidden" id="process" name="p" value=""/>
    <table class="table">
      <tbody>
      <tr>
        <th class="left">
          <label for="categoryId">카테고리 *</label>
        </th>
        <td>
          <select class="select" id="categoryId" name="categoryId">
            <option value="">카테고리 선택</option>
            <option th:if="${not #lists.isEmpty(categoryList)}"
                    th:each="item : ${categoryList}"
                    th:value="${item.id}" th:text="${item.name}"></option>
          </select>
          <span id="categoryError" class="txtRed"></span>
        </td>
      </tr>
      <tr>
        <th class="left">
          <label for="userName">작성자 *</label>
        </th>
        <td>
          <input class="input" type="text" id="userName" name="userName"
                 placeholder="작성자를 입력하세요."/>
          <span id="userNameError" class="txtRed"></span>
        </td>
      </tr>
      <tr>
        <th class="left">
          <label for="password">비밀번호 *</label>
        </th>
        <td>
          <input class="input" type="password" id="password" name="password"
                 placeholder="비밀번호"/>
          <input class="input" type="password" id="passwordChk" name="passwordChk"
                 placeholder="비밀번호 확인"/>
          <span id="passwordError" class="txtRed"></span>
        </td>
      </tr>
      <tr>
        <th class="left">
          <label for="title">제목 *</label>
        </th>
        <td>
          <input class="input" type="text" id="title" name="title"
                 placeholder="제목을 입력하세요."/>
          <span id="titleError" class="txtRed"></span>
        </td>
      </tr>
      <tr>
        <th class="left">
          <label for="contents">내용 *</label>
        </th>
        <td>
          <textarea class="textarea" id="contents" name="contents"
                    placeholder="내용을 입력하세요."></textarea>
          <span id="contentsError" class="txtRed"></span>
        </td>
      </tr>
      <tr>
        <th class="left">
          <label for="file1Info">파일첨부</label>
        </th>
        <td>
          <div class="mb5">
            <input class="input" type="text" id="file1Name" name="file1Name" readonly/>
            <!-- js 에서 파일 업로드 처리를 위해 hidden 추가. type=file 값 변경 불가. -->
            <input class="input" type="hidden" id="file1Id" name="file1Id"/>
            <input type="file" id="file1Info" name="file1Info"/>
          </div>
          <div class="mb5">
            <input class="input" type="text" id="file2Name" name="file2Name" readonly/>
            <input class="input" type="hidden" id="file2Id" name="file2Id"/>
            <input type="file" id="file2Info" name="file2Info"/>
          </div>
          <div>
            <input class="input" type="text" id="file3Name" name="file3Name" readonly/>
            <input class="input" type="hidden" id="file3Id" name="file3Id"/>
            <input type="file" id="file3Info" name="file3Info"/>
          </div>
      </tr>
      </tbody>
    </table>
    <div class="mt20">
      <div class="left">
        <button class="button backBtn" id="backBtn">취소</button>
      </div>
      <div class="right">
        <button class="button regBtn" id="regBtn">등록</button>
      </div>
    </div>
  </form>
</section>

<th:block th:fragment="script">
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/boardWrite.js}"></script>
</th:block>

</html>