<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout/default">
<head>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <link rel="stylesheet" type="text/css"  href="/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/css/boardWrite.css"/>
  <title>게시판 등록</title>
</head>
<body class="body">
  <form id="frm" method="post" th:action="@{boards/free/process}">

  </form>
</body>
</html>