
/* 검색 조건 */
.search{
    height: 30px;
    padding: 20px;
    margin-bottom: 30px;
    border: solid;
    border-width: 1px 0px 1px 0px;
}

.search .srchDateInput{
    width: 200px;
}

.search .srchSelect{
    width: 150px;
}

.search .srchWordInput{
    width: 600px;
}

.search .srchButton{
    background-color: black;
    color: white;
    width: 80px;
    cursor: pointer;
}

/* 목록 */
.list{
    height: 450px;
}

.table{
    width: 100%;
    border-collapse: collapse; /*셀 간격 제거*/
}

.table tr{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.table th{
    border-bottom: 3px solid black;
    padding: 8px;
}

.table td{
    padding: 8px;
}

tbody tr{
    cursor: pointer;
}

tbody tr:hover{
    background-color: gray;
}

/* 페이징 */

#page li{
    cursor: pointer;
}

#page li:hover{
    text-decoration: underline;
}

.regButton{
    background-color: black;
    color: white;
    width: 100px;
    cursor: pointer;
}