
.body{
    padding: 4% 2%;
}

.button{
    padding: 6px;
    margin: 0px 5px 0px 5px;
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}

.input,
.textarea,
.select{
    padding: 6px;
    margin: 0px 5px 0px 5px;
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid black;
}

input[type="file"] {
    color: transparent; /* 파일명 숨김 */
}

/* display */

.disIn{
    display: inline;
}

.disInBl{
    display: inline-block;
}

/* margin */

.m20{
    margin: 20px;
}

.mt20{
    margin-top: 20px;
}

.mb5{
    margin-bottom: 5px;
}

.mbt5{
    margin: 0px 5px;
}

/* text */

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.txtUline{
    text-decoration: underline;
}

.txtRed{
    color: red;
}

/* width 정의 */

.wper3{
    width: 3%;
}

.wper4{
    width: 4%;
}

.wper5{
    width: 5%;
}

.wper7{
    width: 7%;
}

.wper10{
    width: 10%;
}

.wper20{
    width: 20%;
}

.wper30{
    width: 30%;
}

.wper50{
    width: 50%;
}

.wper60{
    width: 60%;
}