
.body{
    padding: 4% 2%;
    font-size: 15px;
}

.input,
.select,
.button{
    border-radius: 0px;
    height: 30px;
    margin: 0px 5px 0px 5px;
    font-size: 14px;
}

/* display */

.disIn{
    display: inline;
}

.disInBl{
    display: inline-block;
}

/* margin */

.m20{
    margin: 20px;
}

.mt20{
    margin-top: 20px;
}

.mbt5{
    margin: 0px 5px;
}

/* text */

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.txtUline{
    text-decoration: underline;
}

.txtRed{
    color: red;
}

/* width 정의 */

.wper3{
    width: 3%;
}

.wper4{
    width: 4%;
}

.wper5{
    width: 5%;
}

.wper7{
    width: 7%;
}

.wper10{
    width: 10%;
}

.wper20{
    width: 20%;
}

.wper30{
    width: 30%;
}

.wper50{
    width: 50%;
}

.wper60{
    width: 60%;
}