<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.web.mapper.BoardMapper">

    <!-- 게시글 총 개수 -->
    <select id="selectAllCnt" resultType="int">
        SELECT COUNT(*) FROM BOARD
    </select>

    <!-- 게시글 총 개수 (검색조건) -->
    <select id="selectCnt" resultType="int" parameterType="com.study.web.model.BoardDTO">
        SELECT COUNT(*) FROM BOARD
        WHERE 1=1
        <if test="srchRegDateStart != null and srchRegDateStart != ''">
            AND DATE_FORMAT(REG_DTTM, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{srchRegDateStart}, '%Y-%m-%d')
        </if>
        <if test="srchRegDateEnd != null and srchRegDateEnd != ''">
            AND DATE_FORMAT(REG_DTTM, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{srchRegDateEnd}, '%Y-%m-%d')
        </if>
        <if test="srchCategory != null and srchCategory != ''">
            AND CATEGORY_ID = #{srchCategory}
        </if>
        <if test="srchWord != null and srchWord != ''">
            AND CONCAT(IFNULL(USER_NAME, ''), IFNULL(TITLE, ''), IFNULL(CONTENTS, ''))
            LIKE CONCAT('%', TRIM(#{srchWord}), '%')
        </if>
    </select>

    <!-- 게시글 목록 조회 (검색조건, 페이징) -->
    <select id="selectList" resultType="com.study.web.model.BoardDTO">
        SELECT
            ID,
            CATEGORY_ID,
            (SELECT NAME FROM CATEGORY WHERE ID = CATEGORY_ID) AS CATEGORY_NAME,
            USER_NAME,
            PASSWORD,
            TITLE,
            CONTENTS,
            VIEWS,
            FILE_1,
            FILE_2,
            FILE_3,
            REG_DTTM,
            MOD_DTTM
        FROM BOARD
        WHERE 1=1
        <if test="srchBoardDTO.srchRegDateStart != null and srchBoardDTO.srchRegDateStart != ''">
            AND DATE_FORMAT(REG_DTTM, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{srchBoardDTO.srchRegDateStart}, '%Y-%m-%d')
        </if>
        <if test="srchBoardDTO.srchRegDateEnd != null and srchBoardDTO.srchRegDateEnd != ''">
            AND DATE_FORMAT(REG_DTTM, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{srchBoardDTO.srchRegDateEnd}, '%Y-%m-%d')
        </if>
        <if test="srchBoardDTO.srchCategory != null and srchBoardDTO.srchCategory != ''">
            AND CATEGORY_ID = #{srchBoardDTO.srchCategory}
        </if>
        <if test="srchBoardDTO.srchWord != null and srchBoardDTO.srchWord != ''">
            AND CONCAT(IFNULL(USER_NAME, ''), IFNULL(TITLE, ''), IFNULL(CONTENTS, ''))
            LIKE CONCAT('%', TRIM(#{srchBoardDTO.srchWord}), '%')
        </if>
        ORDER BY ID DESC
        LIMIT #{pageDTO.startIdx}, #{pageDTO.pageSize}
    </select>

    <!-- 게시글 조회 -->
    <select id="selectBoard" resultType="com.study.web.model.BoardDTO">
        SELECT
            ID,
            CATEGORY_ID,
            (SELECT NAME FROM CATEGORY WHERE ID = CATEGORY_ID) AS CATEGORY_NAME,
            USER_NAME,
            PASSWORD,
            TITLE,
            CONTENTS,
            VIEWS,
            FILE_1,
            FILE_2,
            FILE_3,
            REG_DTTM,
            MOD_DTTM
        FROM BOARD
        WHERE ID = #{id}
    </select>

    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="com.study.web.model.BoardDTO">
        INSERT INTO BOARD
        (
            ID,
            CATEGORY_ID,
            USER_NAME,
            PASSWORD,
            TITLE,
            CONTENTS,
            VIEWS,
            FILE_1,
            FILE_2,
            FILE_3,
            REG_DTTM,
            MOD_DTTM
        )
        VALUES
        (
            NULL,
            #{categoryId},
            #{userName},
            #{password},
            #{title},
            #{contents},
            0,
            #{file1},
            #{file2},
            #{file3},
            NOW(),
            NULL
        )
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.study.web.model.BoardDTO">
        UPDATE BOARD
        SET
            CATEGORY_ID = #{categoryId},
            PASSWORD = #{password},
            TITLE = #{title},
            CONTENTS = #{contents},
            FILE_1 = #{file1},
            FILE_2 = #{file2},
            FILE_3 = #{file3},
            MOD_DTTM = NOW()
        WHERE ID = #{id}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="com.study.web.model.BoardDTO">
        DELETE FROM BOARD
        WHERE ID = #{id}
    </delete>

    <!-- 조회수 증가 -->
    <update id="plusViews" parameterType="com.study.web.model.BoardDTO">
        UPDATE BOARD
        SET
            VIEWS = #{views} + 1
        WHERE ID = #{id}
    </update>
</mapper>