<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.web.mapper.CommentMapper">

    <!-- 게시글에 대한 댓글 목록 -->
    <select id="selectList" resultType="com.study.web.model.CommentDTO">
        SELECT
            ID,
            REG_DTTM,
            COMMENTS
        FROM COMMENT
        WHERE ID = #{id}
        ORDER BY REG_DTTM ASC
    </select>

    <!-- 게시글에 대한 댓글 등록 -->
    <insert id="insertBoard" parameterType="com.study.web.model.CommentDTO">
        INSERT INTO COMMENT
        (
            ID,
            REG_DTTM,
            COMMENTS
        )
        VALUES
        (
            #{id},
            NOW(),
            #{comments}
        )
    </insert>
</mapper>