<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.web.mapper.MultiFileMapper">

    <!-- 날짜별 파일 총 개수 -->
    <select id="cntMultiFileList"
            parameterType="String"
            resultType="int">
        SELECT COUNT(*) FROM MULTI_FILE
        WHERE FILE_FOLDER = #{date}
    </select>

    <!-- 파일 조회 -->
    <select id="selectMultiFile"
            parameterType="com.study.web.model.MultiFileDTO"
            resultType="com.study.web.model.MultiFileDTO">
        SELECT
            FILE_ID,
            FILE_FOLDER,
            FILE_NAME,
            FILE_PATH,
            FILE_SIZE,
            FILE_TYPE,
            FILE_EXTEND,
            REG_DTTM,
            MOD_DTTM
        FROM MULTI_FILE
        WHERE FILE_ID = #{fileId}
    </select>

    <!-- 업로드 파일 저장 -->
    <insert id="insertMultiFile"
            parameterType="com.study.web.model.MultiFileDTO">
        INSERT INTO MULTI_FILE
        (
            FILE_ID,
            FILE_FOLDER,
            FILE_NAME,
            FILE_PATH,
            FILE_SIZE,
            FILE_TYPE,
            FILE_EXTEND,
            REG_DTTM,
            MOD_DTTM
        )
        VALUES
        (
            #{fileId},
            #{fileFolder},
            #{fileName},
            #{filePath},
            #{fileSize},
            #{fileType},
            #{fileExtend},
            NOW(),
            NULL
        )
    </insert>

</mapper>